
<ion-header>
  <ion-toolbar>
    <ion-searchbar placeholder="{{ 'MAP.search' | translate }}"></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content >
  <table [routerLink]="['../datepicker']">
    <tr *ngFor="let item of listPays; index as i">
      <td>
        {{item[1]['alpha2Code']}}
      </td>
      <td>
        {{item[1]['name']}}
      </td>
      <td>
        {{item[1]['capital']}}
      </td>
      <td>
        {{item[1]['region']}}
      </td>
    </tr>
</table>
 
  



</ion-content>


