<ion-content class="content">
    <ion-title class="title">{{ 'SOCIAL.highlight' | translate }}</ion-title>
    <div class="scroll">
        <ion-card-content class="content_img">
            
            <table>
                <tr *ngFor="let item of pays; index as i">
                    <td *ngFor="let item of pays[i] | keyvalue">
                        {{item.value}}
                    </td>
                    <td >
                        <button (click)="deletePays(item['nom']);">SUPPRIMER</button>
                    </td>
                </tr>
            

        </table>
        </ion-card-content>
    </div>

    <ion-content class="footer"></ion-content>
</ion-content>

<ion-button  [routerLink]="['../map']"  color="secondary" expand="block" style="z-index: 8000;position: absolute;left: 0px;bottom:0px;width:100%">
    AJOUTER UN PAYS
</ion-button>

