<ion-content class="content">
    <div class="header">
        <ion-title class="title">WoldVisit</ion-title>
    </div>

    <div class="scroll">
        <ion-card-content class="content_img">

            <table class="table" style="width: 100%">
                <tr *ngFor="let item of pays; index as i">
                    <td>
                        <tr>
                            <img class="countryFlag" src="http://www.geognos.com/api/en/countries/flag/{{item['code']}}.png" alt="pas de drapeau">
                        </tr>
                        <tr>
                            {{item['date']}}
                        </tr>
                    </td>
                    <td>
                        <tr>
                            <h2>{{item['name']}}</h2>
                        </tr>
                        <tr>
                            Capitale: {{item['capital']}}
                        </tr>
                        <tr>
                            Continent: {{item['region']}}
                        </tr>
                    </td>
                    <td>
                        <button (click)="deletePays(item['nom']);"><img src="assets/icon/delete.png"></button>
                    </td>
                </tr>

            </table>
        </ion-card-content>
    </div>

    <ion-content class="footer"></ion-content>
</ion-content>

<ion-button  [routerLink]="['../map']"  color="secondary" expand="block" style="z-index: 8000;position: absolute;left: 0px;bottom:0px;width:100%">
    AJOUTER UN PAYS
</ion-button>

